*{
    margin: 0;
    padding: 0;
}

.navbar{
    border: 2px solid black;
    background-color: aqua;
    /* width: 600px; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}
.nav-containt-2 a{


}
.frequently-aq{
    border: 2px solid black
}