.main-container{
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
}
.container-1{
    background-color: rgb(33, 30, 30);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container-1 a{
    text-decoration: none;
    color: white;
    margin: 3px;
}
.container-2{
    background-color: rgb(229, 227, 226);
    width: 70%;
    padding: 5px;
    
}
.container-2 .container-3{
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.details-1{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-bottom: 5px;
}
.details-2{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.occupation{
    width: 83%;
}
.submit{
    width: 100%;
    background-color: rgb(39, 39, 236);
    color: white;
    height: 25px;
    border-radius: 10px;
    border: none;
}
.message{
    height: 30px;
}
@media only screen and (max-width:576px){
    .main-container{
        display: block;
        font-size: 10px;

    }
    .container-1{
        margin: auto;
    }
}